body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.contact-section {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 10px;
}

.btn-custom {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
}

.btn-custom:hover {
    background-color: #0056b3;
}

.info-box {
    padding: 20px;
    border-radius: 15px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.social-icon {
    color: #444;
    margin: 0 10px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icon:hover {
    color: #007bff;
}

.logored {
    width: 10%;
    /* Ajusta tamaño de logo */
    height: auto;
    display: block;
    /* Centra imagen */
    margin: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.logored:hover {
    transform: scale(1.1);
    /* Efecto al pasar el cursor */
}

textarea {
  resize: none; /* Evita que el usuario cambie el tamaño */
}
