<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div th:fragment="header">
        <header class="p-3 bg-dark text-white">
            <div class="contenedor">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a th:href="@{/inicio}"
                        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img src="/IMG/logo.png" alt="Logo" class="logo">
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a th:href="@{/inicio}" class="nav-link px-2 text-secondary">Inicio</a></li>
                        <li><a th:href="@{/catalogo}" class="nav-link px-2 text-white">Catalogo</a></li>
                        <li><a th:href="@{/nosotros}" class="nav-link px-2 text-white">Nosotros</a></li>
                        <li><a th:href="@{/reclamos}" class="nav-link px-2 text-white">Contactanos</a></li>
                        <li><a th:href="@{/redes}" class="nav-link px-2 text-white">Redes</a></li>
                        <li><a th:href="@{/MisPedidos}" class="nav-link px-2 text-white">Mis pedidos</a></li>
                    </ul>
                    <div class="text-end d-flex">
                        <a th:href="@{/carrito}" class="btn btn-outline-light position-relative">
                            <i class="bi bi-cart-fill"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg>
                        </a>
                        <!-- Mostrar solo si NO está autenticado -->
                        <div th:if="${not #authorization.expression('isAuthenticated()')}">
                            <a th:href="@{/IniciaSesion}">
                                <button type="button" class="btn btn-outline-light me-2">Iniciar sesión</button>
                            </a>
                            <a th:href="@{/IniciaSesion}">
                                <button type="button" class="btn btn-warning">Registrarse</button>
                            </a>
                        </div>

                        <!-- Mostrar solo si está autenticado -->
                        <div th:if="${#authorization.expression('isAuthenticated()')}">
                            <form th:action="@{/logout}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>

</html>