<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Redes Sociales de la Empresa</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Fuentes personalizadas -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Bebas+Neue&display=swap"
        rel="stylesheet">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/CSS/Redes.css">

    <!-- Scripts personalizados -->
    <script src="/JS/r.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/Footer.css">

    <!-- header y footer -->
    <script src="/JS/Footer.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/CSS/Footer.css">
    <script src="/JS/Header.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/CSS/Header.css" />
</head>

<body style="background: #f2f2f2;">

    <div th:replace="Header :: header"></div>
    <div class="container mt-5">
        <!-- Título -->
        <h1 class="text-center">REDES SOCIALES 👟</h1>

        <!-- Texto -->
        <p class="text-center">Nos alegra mucho que estés aquí. En URBAN FEET creemos que las redes sociales son el
            lugar perfecto para compartir ideas, inspirar y conectarnos. ¡No dudes en seguirnos para disfrutar de
            contenido exclusivo, ofertas especiales y mucho más! 💥</p>
    </div>
    <!-- Contenedor de redes sociales -->
    <div class="container redes-sociales">
        <div class="row justify-content-center">
            <!-- Instagram -->
            <!-- Columna de texto o botón (a la izquierda) -->
            <div class="col-12 col-md-6 text-start mb-3">
                <a href="https://www.instagram.com/pumaperu/" target="_blank" class="btn btn-danger w-100 mb-3">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
                <h3>🔥 ¡Puma en Urban Feet! 🔥</h3>
                <p class="descripcion">Desafía lo convencional, atrévete a destacar y pisa fuerte con el estilo único de
                    Puma. 🌟 ¿Estás listo para correr más rápido, saltar más alto y destacar en cada paso? 🤩 En Urban
                    Feet sabemos lo que buscas: confort, estilo y rendimiento, y Puma te lo ofrece todo.</p>
                <p>Con cada par de Puma, no solo estarás a la moda, también tendrás la comodidad y la resistencia para
                    enfrentarte a todo lo que el día te depare. Ya sea para entrenar, salir con amigos o simplemente
                    destacar con un look urbano, Puma tiene el par perfecto para ti.</p>
                <p>📱 Síguenos en TikTok para ver los nuevos lanzamientos, trucos de estilo, desafíos y contenido
                    exclusivo. ¡Prepárate para ver cómo las zapatillas Puma dominan el mundo de la moda y el deporte! 💥
                </p>
            </div>

            <!-- Columna de la publicidad o iframe (a la derecha) -->
            <div class="col-12 col-md-6 text-end mb-3">
                <div class="container my-4">
                    <a href="https://www.instagram.com/reel/DIcdaslSiE0/?utm_source=ig_web_button_share_sheet&igsh=MzRlODBiNWFlZA=="
                        target="_blank">
                        <div class="embed-responsive" style="max-width: 600px; margin: 0 auto;">
                            <iframe class="embed-responsive-item rounded"
                                src="https://www.instagram.com/reel/DIcdaslSiE0/embed" allowfullscreen
                                style="width: 100%; height: 737px;"></iframe>
                        </div>
                    </a>
                </div>
                <script async src="https://www.instagram.com/embed.js"></script>
            </div>

            <!-- TIKTOK -->
            <div class="col-12 col-md-6 text-start mb-3">
                <div class="container my-4">
                    <a href="https://www.tiktok.com/@rocamora_2.0/video/7094167313364045061" target="_blank">
                        <div class="embed-responsive" style="max-width: 600px; margin: 0 auto;">
                            <iframe class="embed-responsive-item rounded"
                                src="https://www.tiktok.com/embed/7094167313364045061" allowfullscreen
                                style="width: 100%; height: 739px;"></iframe>
                        </div>
                    </a>
                </div>
                <script async src="https://www.tiktok.com/embed.js"></script>
            </div>

            <!-- Columna de texto (a la derecha) -->
            <div class="col-12 col-md-6 text-end mb-3">
                <a href="https://www.tiktok.com/@rocamora_2.0" target="_blank" class="btn btn-dark w-100 mb-3">
                    <i class="fab fa-tiktok"></i> TikTok
                </a>
                <h3>💥 ¡Adidas está aquí en Urban Feet! 💥</h3>
                <p>Adidas ha llegado para llevar tu look a la vanguardia del estilo deportivo y urbano. 🏃‍♂️👟 Con una
                    combinación perfecta de confort, tecnología innovadora y diseño, cada modelo está pensado para
                    aquellos que buscan superarse a sí mismos sin perder el estilo. En Urban Feet, tenemos lo que
                    necesitas para tu día a día.</p>
                <p>🔝 Desde la icónica Adidas Superstar hasta las innovadoras Adidas Ultraboost, esta marca tiene todo
                    lo que necesitas para enfrentar tus días con la máxima comodidad y estilo. Adidas no es solo una
                    marca, es un estilo de vida para los que se atreven a ser diferentes y marcar la diferencia.</p>
                <p>🌟 Síguenos en Instagram para ver las últimas colecciones, ver cómo combinan las zapatillas más
                    icónicas con looks únicos y acceder a contenido exclusivo sobre los productos más innovadores de
                    Adidas. No te pierdas nuestras historias, publicaciones y videos inspiradores.</p>
                <p>👟 Compra ahora en Urban Feet y descubre cómo Adidas puede transformar tu estilo. ¡Únete a la familia
                    Adidas y lleva tu look al siguiente nivel!</p>
            </div>



            <!-- FACEBOOK -->
            <!-- Columna de texto (a la izquierda) -->
            <div class="col-12 col-md-6 text-start mb-3">
                <a href="https://www.facebook.com/nike" target="_blank" class="btn btn-primary w-100 mb-3">
                    <i class="fab fa-facebook"></i> Facebook
                </a>
                <h3>⚡ Urban Feet trae el poder de Nike ⚡</h3>
                <p>Si buscas ir más allá, Nike es la marca para ti. Con cada par de zapatillas, no solo obtienes
                    tecnología avanzada y comodidad de alto rendimiento, sino también un estilo que te hace destacar
                    dondequiera que vayas. ⚡️👟 Nike representa la innovación, la pasión por el deporte y la capacidad
                    de desafiar los límites. Y ahora, en Urban Feet, puedes obtenerlas con solo un clic.</p>
                <p>🔝 Nike es para los soñadores, los que se atreven a desafiar lo establecido, los que buscan algo más
                    que solo unas zapatillas. Ya sea que las uses para correr, entrenar, o simplemente para estar a la
                    moda, Nike tiene lo que necesitas para cada momento. Porque, con Nike, cada paso cuenta.</p>
                <p>👉 Compra ahora en Urban Feet y prepárate para elevar tu estilo con las zapatillas más innovadoras
                    del mercado.</p>
                <p>📱 Síguenos en Facebook para estar al tanto de todas las promociones exclusivas, los nuevos
                    lanzamientos y obtener acceso anticipado a colecciones limitadas. Con Nike, siempre estarás un paso
                    adelante.</p>
            </div>

            <!-- Columna de la publicidad (a la derecha) -->
            <div class="col-12 col-md-6 text-end mb-3">
                <div class="container my-4">
                    <a href="https://www.facebook.com/nike" target="_blank">
                        <div class="embed-responsive" style="max-width: 600px; margin: 0 auto;">
                            <iframe class="embed-responsive-item rounded"
                                src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/nike&tabs=timeline&width=737&height=800"
                                style="width:100%; height:737px; border:none; overflow:hidden;" scrolling="no"
                                frameborder="0" allowfullscreen="true"
                                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="Footer :: footer"></div>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>